.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 100px; # kucuk resimlerin genisligini 100px e sabitler. Yukseklik bu genislige uygun olarak ayarlanir.
}
.my-gallery figcaption {
  #display: none;  # goruntulenmemesi icin yorumu kaldir.
}